@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}
.login{
   /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background-color: #31AFB4;
  background-repeat: no-repeat;
  background-size: cover;
}
